@import "tailwindcss";
@import "tailwindcss/utilities";

@theme {
  --color-dark: #020101;
  --color-purple: #874db1;
  --color-purple-light: #b37cc6;
  --color-purple-soft: #d7b6d6;
  --color-purple-deep: #4f375b;
  --color-shadow: #1e1611;
}

:root {
  --background: #020101;
  --foreground: #020101;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes glitch-1 {
  0%,
  90% {
    transform: translate(0);
    opacity: 0;
  }
  92% {
    transform: translate(-8px, 3px);
    opacity: 0.8;
  }
  94% {
    transform: translate(6px, -4px);
    opacity: 0.8;
  }
  96% {
    transform: translate(-5px, 2px);
    opacity: 0.8;
  }
  98% {
    transform: translate(7px, -3px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}

@keyframes glitch-2 {
  0%,
  90% {
    transform: translate(0);
    opacity: 0;
  }
  92% {
    transform: translate(7px, -4px);
    opacity: 0.8;
  }
  94% {
    transform: translate(-6px, 5px);
    opacity: 0.8;
  }
  96% {
    transform: translate(8px, -2px);
    opacity: 0.8;
  }
  98% {
    transform: translate(-5px, 4px);
    opacity: 0.8;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}

.animate-glitch-1 {
  animation: glitch-1 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.animate-glitch-2 {
  animation: glitch-2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.8;
    transform: scale(1);
    filter: blur(0px);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
    filter: blur(1px);
  }
}

.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(white 1px, transparent 1px);
  background-size: 3px 3px;
  opacity: 0.3;
  animation: twinkle 3s ease-in-out infinite;
}

.stars2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(white 1.5px, transparent 1.5px);
  background-size: 6px 6px;
  opacity: 0.2;
  animation: twinkle 5s ease-in-out infinite alternate;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
